{% extends "baseadmin.html" %}
{% load static %}

{% block title %}Panel de administración 1{% endblock %}

{% block header_title %}Panel de administración 2{% endblock %}

{% block header_actions %}
    <a href="#" class="btn btn-primary">Nueva acción</a>
    <a href="#" class="btn btn-secondary">Otro botón</a>
{% endblock %}

{% block content %}
<div class="admin-panel-overview">
    <section class="admin-card">
        <h2>Bienvenido al panel de administrador</h2>
        <p>asdlfkjaslkdfjalskdfj</p>
    </section>
</div>
{% endblock %}
